<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>OAuth2 Sample App - Intuit</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  <script>
    if(window.opener) {
      window.opener.location.href = '/connected';
      window.close()
    }

    function apiCall(url) {
        const result = document.querySelector("#result");
        result.textContent = 'Loading...';
        fetch(url, {
            'credentials': 'include'
        }).then(function(response) {
            return response.text();
        }).then(function(text) {
            result.textContent = text;
        });
    }

    function getCompanyInfo() {
        apiCall('/getCompanyInfo');
    }

    function revokeCall() {
        apiCall('/revokeToken');
    }

    function refreshCall() {
        apiCall('/refreshToken');
    }

  </script>
</head>
<body>
  <a href="/">Home</a>
  <h3>Connected!</h3>
  <!--/*@thymesVar id="givenName" type="java.lang.String"*/-->
  <div th:with="firstPer=${givenName}">
	
	    <p>Welcome <span th:text="${firstPer}" ></span>!</p>
  		<p>Would you like to make a sample API call?</p>
	  
  </div>
  
  <div>
    <button onclick="getCompanyInfo()">QuickBooks API Call</button>
    <button onclick="refreshCall()">Refresh Token Call</button>
    <button onclick="revokeCall()">Revoke Token Call</button>
    <br /><br />
    <div><code id="result"></code></div>
    </div>
</body>
</html>